body {
    font-family: 'Noto Sans', sans-serif;
}

.widget {
    width: 100%;
    display: grid;
    align-items: center;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    font-size: 16px !important;
}

/* Кнопки настроек */
#available-icon {
    display: inline;
}

#visible-icon {
    display: inline;
    cursor: pointer;
}

/* Компонент настроек */
#settings-component {
    width: 100%;
}

.interval {
    padding-top: 10px;
}

.interval-status {
    display: inline-flex;
}

#visibility-form {
    font-size: smaller;
}

/* Каркас для элементов */
.frame {
    margin: 15px 25px;
}

/* Удаление лишних отступов */
.frame:first-of-type {
    margin-bottom: 0;
}

.frame:last-of-type {
    margin-top: 0;
}

/* Компонент значений */
#values-component {
    width: 100%;
}

#values {
    display: table;
    border-collapse: collapse;
    width: 100%;
}

.row {
    display: table-row;
    border-bottom: 1px solid #C4C4C4;
    height: 40px;
}

.row:last-child {
    border-bottom: none;
}

/* Формартирование ячейки таблицы */
.cell {
    display: table-cell;
    vertical-align: middle;
    font-size: smaller;
}

/* Выделение названия валюты */
.rate {
    font-weight: 500 !important;
}

.name {
    color: #686868;
    font-size: smaller;
}
